/* FAQHead.css */

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 40px 20px; 
    margin-top: 1000px; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
}

.faq-section h2 {
    font-size: 2em; 
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .faq-section {
        margin-top: 800px; 
        padding: 20px;
    }
}
