/* TopHeader.css */

.top-header {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    margin: 0; 
    margin-left: -220px; 
    max-width: 1200px; 
    width: 200%; 
    box-sizing: border-box; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-item {
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-item:hover {
    color: #007bff;
}

.contact-button-container {
    background-color: #007bff;
    border-radius: 4px;
}

.contact-button {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #0056b3;
}
